html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.ais-RefinementList-list {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.ais-RefinementList-item {
  margin-right: 10px;
}

.ais-RefinementList-labelText {
  text-transform: capitalize;
}

.ais-RefinementList-count {
  padding-left: 5px;
  color: rgba(0, 0, 0, 0.5);
}
